$v-app-loading-text: "Mateu";

$xx-v-background-color: #ffffff;

$v-font-family: Roboto, Lato, "Open Sans";

$v-font-size: 12px;

$xx-v-font-color: #003366;

$xx-v-border-radius: 0px;

$old-v-focus-style: 0 0 0 2px orange;
$undelined-v-focus-style: 0 4px 0 0px #003366;

@import "../valo/valo";